.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding-inline: 1.25rem;
}

.game-grid {
    --ROWS: 6;
    display: grid;
    grid-template-rows: repeat(var(--ROWS), 1fr);
    gap: 0.35rem;
}

.game-row {
    --WORD_LENGTH: 5;
    display: grid;
    grid-template-columns: repeat(var(--WORD_LENGTH), minmax(55px, 1fr));
    gap: 0.35rem;
}

.game-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--clr-gray);
    line-height: 1;
    width: 56px;
    height: 62px;
    padding: 0.875rem;
    font-size: 1.875rem;
    font-weight: 600;
}
.game-letter:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.game-letter:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.incorrect {
    background-color: transparent;
}
.misplaced {
    background-color: var(--clr-misplaced);
}
.correct {
    background-color: var(--clr-correct);
}

.game-form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 3rem;
}

.game-input {
    border: none;
    outline: none;
    border: 2px solid var(--clr-gray);
    background-color: transparent;
    color: var(--clr-light);
    width: 100%;
    border-radius: 6px;
    padding-block: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    caret-color: rgba(255, 255, 255, 0.7);
}
.game-input:focus-visible {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

@media (width >= 475px) {
    .game-letter {
        padding: 1rem;
        font-size: 2.25rem;
        min-width: 68px;
        min-height: 74.4px;
    }

    .game-input {
        padding-block: 0.75rem;
        font-size: 1.5rem;
    }
}

@media (width >= 678px) {
    .game-wrapper {
        margin-top: 3rem;
    }
    .game-form {
        margin-top: 4rem;
    }
    .game-label {
        font-size: 1.125rem;
    }
}
